@import "./components/btn_cta";
@import "./components/btn_fav";

@import "./layouts/main";
@import "./layouts/header";
@import "./layouts/footer";
@import "./layouts/loader";

@import "./pages/restaurant";

@import "./utils/animations";
@import "./utils/variables";
@import "./utils/mixins";
@import "./utils/functions";

img {
  width: 346px;
  height: 231px;
  flex-shrink: 0;
}
