@import "./utils/animations";
@import "./utils/variables";
@import "./utils/mixins";
@import "./utils/functions";

@import "./components/components";

@import "./layouts/main";
@import "./layouts/header";
@import "./layouts/footer";

@import "./pages/restaurant";

/* SCSS à reclasser dans les différents fichiers SCSS spécifiques */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0px;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

.intro {
  @include flex-center;
  height: 290px;
  flex-direction: column;
  text-align: center;
  padding: 40px 0px;
  background: $background-light-grey;

  &__title {
    height: 68px;
  }

  &__text {
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    color: $text-grey;
    margin-bottom: 27px;
  }
}

.tutorial {
  padding: 48px 20px;

  &__container {
    @include flex-center;
    flex-direction: column;
    gap: 25px;
    padding: 25px 0;

    &__step {
      @include flex-center;
      height: 72px;
      width: 320px;
      border-radius: 20px;
      background: $background-light-grey;
      box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
      font-size: 16px;
      font-weight: 500;
      justify-content: stretch;
      gap: 30px;

      &__nb {
        @include flex-center;
        color: white;
        border-radius: 50%;
        background-color: $main-color;
        width: 24px;
        height: 24px;
        font-size: 14px;
        font-weight: 500;
      }

      &__iconMobile {
        width: 18px;
        fill: grey;
      }
    }
  }
}

.iconRestaurant {
  fill: $main-color;
}

.restaurants {
  padding: 54px 20px;
  background-color: $background-light-grey;

  &__container {
    @include flex-center;
    flex-direction: column;
    gap: 18px;
    padding: 20px 0;
  }

  &__card {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    overflow: hidden;
    background-color: white;
    height: 250px;
  }

  &__photo {
    /* ... */
  }

  &__img {
    width: 346px;
    height: 180px;
    object-fit: cover;
  }

  &__description {
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    padding: 0px 13px;
    &__name {
      /* ...*/
    }

    &__fav {
      /* ...*/
    }
  }
}
