@import "./utils/animations";
@import "./utils/variables";
@import "./utils/mixins";
@import "./utils/functions";

@import "./components/components";

@import "./layouts/loader";
@import "./layouts/main";
@import "./layouts/header";
@import "./layouts/footer";

@import "./pages/restaurant";

/* SCSS à reclasser dans les différents fichiers SCSS spécifiques */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0px;
  font-family: "Roboto", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.intro {
  @include flex-center;
  height: 290px;
  flex-direction: column;
  text-align: center;
  padding: 40px 45px;
  background: $background-light-grey;
  gap: 30px;
  @media (min-width: 1024px) {
    height: 240px;
    gap: 30px;
    padding: 0;
  }

  &__title {
    font-size: 24px;
    @media (min-width: 1024px) {
      font-size: 40px;
    }

    &__text {
      font-size: 18px;
      font-style: normal;
      font-weight: 300;
      color: $text-grey;
      line-height: normal;
    }
  }
}

.tutorial {
  padding: 48px 20px;

  &__title {
    @media (min-width: 1024px) {
      padding-left: 150px;
    }
  }

  &__container {
    @include flex-center;
    flex-direction: column;
    gap: 25px;
    padding: 25px 0;
    @media (min-width: 1024px) {
      flex-direction: row;
      gap: 35px;
    }

    &__step {
      @include flex-center;
      height: 72px;
      width: 320px;
      border-radius: 20px;
      background: $background-light-grey;
      box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
      font-size: 16px;
      font-weight: 500;
      justify-content: stretch;
      gap: 30px;

      &__nb {
        @include flex-center;
        color: white;
        border-radius: 50%;
        background-color: $main-color;
        width: 24px;
        height: 24px;
        font-size: 14px;
        font-weight: 500;
        margin-left: -12px;
      }

      &__iconMobile {
        width: 18px;
        fill: grey;
      }
    }
  }
}

.iconRestaurant {
  fill: $main-color;
}

.restaurants {
  padding: 54px 20px;
  background-color: $background-light-grey;
  @media (min-width: 1024px) {
    padding: 54px 180px;
  }

  &__container {
    @include flex-center;
    flex-direction: column;
    gap: 18px;
    padding: 20px 0;
    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    overflow: hidden;
    background-color: white;
    height: 250px;
    width: 100%;
    @media (min-width: 768px) {
      flex: 1 1 calc(50% - 18px);
      max-width: 490px;
    }
  }

  &__photo {
    height: 180px;
  }

  &__img {
    width: 100%;
    height: 180px;
    object-fit: cover;
  }

  &__description {
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    padding-left: 13px;

    &__text {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
  }
}
