@use "../utils/mixins";
@use "../utils/variables";

.intro__btn {
  @include flex-center;
  width: 218px;
  height: 50px;
  border-radius: 25px;
  background: $purple-gradient;
  color: white;
  box-shadow: $box-shadow-button;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  cursor: pointer;
  transition: 0.5s;
  &:hover {
    opacity: 0.8;
    box-shadow: $box-shadow-button-hover;
  }
}

.svg__gradient svg {
  width: 0;
  height: 0;
  position: absolute;
}

/* coeur */
.heart-svg {
  cursor: pointer;
  overflow: visible;
  width: 60px;
}

svg .heart {
  transform-origin: center;
  animation: animateHeartOut 0.3s linear forwards;
}

.checkbox {
  display: none;
}
