.header__menuPage {
  @include flex-center;
  width: 100%;
  height: 63px;
  box-shadow: $box-shadow;
  position: relative;
  z-index: 2;
  @media (min-width: 1024px) {
    height: 96px;
  }

  &__back {
    position: absolute;
    left: 20px;
  }

  &__banner img {
    height: 44px;
    width: 162px;
  }
}

.heroBanner {
  &__img {
    width: 100%;
    object-fit: cover;
    height: 275px;
  }
}

.main {
  @include flex-center;
  flex-direction: column;
}
.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $background-light-grey;
  border-radius: 50px 50px 0px 0px;
  position: relative;
  gap: 40px;
  padding: 35px 0px 40px 0px;
  margin-top: -65px;
  width: 100%;
  max-width: 1055px;
  @media (min-width: 1024px) {
    padding: 35px 0px 40px 0px;
  }

  &__title {
    @include flex-center;
    gap: 15px;
    padding: 0px 17px;
    margin-bottom: -13px;
    @media (min-width: 1024px) {
      gap: 20px;
    }
    & h1 {
      font-family: "Shrikhand", sans-serif;
      font-size: 28px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      color: $text-color;
    }
    & svg {
      height: 45px;
      width: 45px;
    }
  }
  &__container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 0px 13px;
    width: 100%;
    max-width: 634px;
    &__title {
      font-size: 16px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      text-transform: uppercase;
    }
    &__underline {
      background-color: $green-line;
      width: 40px;
      height: 3px;
    }
  }
}

.meal {
  display: flex;
  width: 100%;
  height: 69px;
  border-radius: 15px;
  box-shadow: $box-shadow-card;
  background-color: white;
  overflow: hidden;
  &__price {
    font-weight: 700;
    align-self: flex-end;
    padding: 15px 15px 10px 5px;
    transition: margin-right 0.4s ease-in-out;
  }
  &__select {
    @include flex-center;
    width: 0px;
    height: 0px;
    padding: 0px;
    background-color: $tertiary-color;
    color: white;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    transition: width 0.4s ease-in-out;
  }
  &__info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 15px;
    font-weight: 300;
    padding: 15px 0px 0px 15px;
    flex: 1;
    overflow: hidden;

    &__name {
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &__side {
      font-size: 15px;
      font-style: normal;
      font-weight: 300;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
.iconCheck {
  @include flex-center;
  transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
  background-color: $tertiary-color;
  color: white;
}
