/* BUTTON HIGHLIGHT */
@keyframes anim1 {
  0%,
  99% {
    opacity: 1;
    z-index: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes anim2 {
  0% {
    transform: rotate(0deg) scale(1);
  }
  100% {
    transform: rotate(360deg) scale(0);
  }
}

/* FILLING HEART */
.checkbox:checked + label svg .heart {
  transform: scale(0.2);
  fill: url(#heartGradient);
  stroke: none;
  animation: animateHeart 0.3s linear forwards 0.25s;
}

@keyframes animateHeart {
  0% {
    transform: scale(0.2);
  }
  40% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes animateHeartOut {
  0% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}

/* DELAYED MENU */
.menu__container {
  @media (min-width: 1024px) {
    opacity: 0;
    animation: slideUp 0.5s ease-out forwards;
    &:nth-child(1) {
      animation-delay: 0.3s;
    }
    &:nth-child(2) {
      animation-delay: 0.6s;
    }
    &:nth-child(3) {
      animation-delay: 0.9s;
    }
    &:nth-child(4) {
      animation-delay: 1.2s;
    }
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* GREEN SELECTION*/

.meal {
  position: relative;
  &:hover,
  &:focus {
    .meal__select,
    .iconCheck {
      position: absolute;
      height: 100%;
      width: 65px;
    }
    .meal__price {
      margin-right: 65px;
    }
  }
}

/* @keyframes grow {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
} */
