/* Purple gradient filling the button and the heart/like icon */
$purple-gradient: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);

/* Main colors */
$main-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #ffd166;

/* "Nouveau" sign */
$new-background: #99e2d0;
$new-text: #008766;
