//////////////////// HEADER
.header {
  @include flex-center;
  @include size(100%, 113px);
  flex-direction: column;
  box-shadow: $box-shadow-darker;
  position: relative;
  overflow: hidden;
  animation: unrollHeader 1s ease-out forwards;
  @media (min-width: 1024px) {
    box-shadow: none;
    height: 146px;
    animation: unrollHeaderMobile 1s ease-out forwards;
  }

  &__banner {
    @include flex-center;
    @include size(100%, 63px);
    padding: 12px 0px 4px 0px;
    box-shadow: $box-shadow;
    position: relative;
    @media (min-width: 1024px) {
      box-shadow: none;
      height: 96px;
    }

    &__logo {
      @include size(162px, 44px);
      @media (min-width: 1024px) {
        @include size(200px, 54px);
      }
    }
  }
  &__location {
    @include flex-center;
    @include size(100%, 50px);
    gap: 17px;
    top: calc(100% - 50px);
    background-color: $background-grey;
    overflow: hidden;
    animation: 0.5s unrollFromBottom ease-out;
  }

  &.homepage &__arrowback {
    display: none;
  }
}
